In [24]:
import pandas
import numpy

In [25]:
df = pandas.read_csv('tmdb_5000_movies.csv')

In [26]:
df_movies = df[['id','budget', 'title', 'release_date', 'revenue', 'vote_average', 'vote_count']]

In [27]:
df_movies

,id,budget,title,release_date,revenue,vote_average,vote_count
0,5,4000000,Four Rooms,12/9/1995,4300000,6.5,530
1,11,11000000,Star Wars,5/25/1977,775398007,8.1,6624
2,12,94000000,Finding Nemo,5/30/2003,940335536,7.6,6122
3,13,55000000,Forrest Gump,7/6/1994,677945399,8.2,7927
4,14,15000000,American Beauty,9/15/1999,356296601,7.9,3313
5,16,12800000,Dancer in the Dark,5/17/2000,40031879,7.6,377
6,18,90000000,The Fifth Element,5/7/1997,263920180,7.3,3885
7,19,92620000,Metropolis,1/10/1927,650422,8.0,657
8,20,0,My Life Without Me,3/7/2003,9726954,7.2,77
9,22,140000000,Pirates of the Caribbean: The Curse of the Bla...,7/9/2003,655011224,7.5,6985
10,24,30000000,Kill Bill: Vol. 1,10/10/2003,180949000,7.7,4949
11,25,72000000,Jarhead,11/4/2005,96889998,6.6,765
12,28,31500000,Apocalypse Now,8/15/1979,89460381,8.0,2055
13,33,14000000,Unforgiven,8/7/1992,159157447,7.7,1113
14,35,75000000,The Simpsons Movie,7/25/2007,527068851,6.9,2264
15,38,20000000,Eternal Sunshine of the Spotless Mind,3/19/2004,72258126,7.9,3652
16,55,2000000,Amores perros,6/16/2000,20908467,7.6,521
17,58,200000000,Pirates of the Caribbean: Dead Man's Chest,6/20/2006,1065659812,7.0,5246
18,59,32000000,A History of Violence,9/23/2005,60740827,6.9,832
19,62,10500000,2001: A Space Odyssey,4/10/1968,68700000,7.9,2998
20,65,41000000,8 Mile,11/8/2002,215000000,6.8,1626
21,66,50000000,Absolute Power,2/14/1997,50068310,6.4,223
22,68,15000000,Brazil,2/20/1985,0,7.5,861
23,69,28000000,Walk the Line,9/13/2005,186438883,7.3,718
24,70,30000000,Million Dollar Baby,12/15/2004,216763646,7.7,2439
25,71,5000000,Billy Elliot,5/18/2000,110000000,7.4,750
26,73,20000000,American History X,10/30/1998,23875127,8.2,3016
27,74,132000000,War of the Worlds,6/28/2005,591739379,6.2,2322
28,75,70000000,Mars Attacks!,12/12/1996,101371017,6.1,1509
29,76,2500000,Before Sunrise,1/27/1995,5535405,7.7,959
...,...,...,...,...,...,...,...
4773,373314,11000000,Misconduct,2/5/2016,0,5.3,149
4774,374461,8000000,Mr. Church,9/16/2016,0,7.0,129
4775,375290,4500000,Airlift,1/22/2016,32000000,7.3,57
4776,375950,0,The Country Doctor,3/23/2016,0,6.0,63
4777,376004,750000,Adulterers,1/5/2016,0,5.2,16
4778,376010,0,Western Religion,10/9/2015,0,0.0,0
4779,376659,20000000,Bad Moms,7/28/2016,183936074,6.3,1252
4780,378200,0,The Perfect Match,3/11/2016,0,5.2,42
4781,378237,300000,Amidst the Devil's Wings,12/1/2014,0,0.0,0
4782,379532,0,Rodeo Girl,1/5/2016,0,5.5,1
4783,380097,0,America Is Still the Place,NaN,0,0.0,0
4784,380733,0,Fight to the Finish,2/2/2016,0,5.2,3
4785,381902,68490000,The Monkey King 2,1/22/2016,193677158,6.0,24
4786,385383,27000000,Fight Valley,7/22/2016,0,3.9,8
4787,385636,0,Juliet and Alfa Romeo,9/17/2015,0,6.0,1
4788,385736,0,Kicks,9/9/2016,0,7.5,18
4789,386826,0,A Beginner's Guide to Snuff,3/4/2016,0,0.0,0
4790,389425,8000000,Code of Honor,5/6/2016,0,4.1,16
4791,394047,2000000,The Dog Lover,7/8/2016,0,5.3,6
4792,395766,0,The Secret,4/29/2016,0,0.0,0
4793,396152,0,Restoration,5/3/2016,0,5.3,11
4794,402515,0,American Beast,10/21/2014,0,0.0,0
4795,407887,0,Operation Chromite,7/27/2016,0,5.8,29
4796,408429,200,Perfect Cowboy,7/13/2014,0,5.0,1
4797,417859,130000000,Puss in Boots,10/28/2011,554987477,6.4,451
4798,426067,0,Midnight Cabaret,1/1/1990,0,0.0,0
4799,426469,0,Growing Up Smith,2/3/2017,0,7.4,7
4800,433715,0,8 Days,6/15/2014,0,0.0,0
4801,447027,0,Running Forever,10/27/2015,0,0.0,0
4802,459488,2,"To Be Frank, Sinatra at 100",12/12/2015,0,0.0,0

In [28]:
credits = pandas.read_csv('tmdb_5000_credits.csv')

In [29]:
df_credits = credits[['movie_id','cast']]

In [30]:
df_credits

,movie_id,cast
0,4,"""""name"""": """"George Doering""""}"
1,5,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop..."
2,9,"""""name"""": """"Jean Courteau""""}"
3,11,"[{""cast_id"": 3, ""character"": ""Luke Skywalker"",..."
4,12,"[{""cast_id"": 8, ""character"": ""Marlin (voice)"",..."
5,13,"[{""cast_id"": 7, ""character"": ""Forrest Gump"", ""..."
6,14,"[{""cast_id"": 6, ""character"": ""Lester Burnham"",..."
7,16,"[{""cast_id"": 33, ""character"": ""Selma Jezkova"",..."
8,18,"[{""cast_id"": 5, ""character"": ""Korben Dallas"", ..."
9,19,"[{""cast_id"": 10, ""character"": ""Maria"", ""credit..."
10,20,"[{""cast_id"": 5, ""character"": ""Ann"", ""credit_id..."
11,22,"[{""cast_id"": 12, ""character"": ""Captain Jack Sp..."
12,24,"[{""cast_id"": 3, ""character"": ""Beatrix 'The Bri..."
13,25,"[{""cast_id"": 1, ""character"": ""Staff Sgt. Sykes..."
14,28,"[{""cast_id"": 29, ""character"": ""Captain Benjami..."
15,33,"[{""cast_id"": 4, ""character"": ""Bill Munny"", ""cr..."
16,35,"[{""cast_id"": 2, ""character"": ""Homer / Itchy / ..."
17,38,"[{""cast_id"": 5, ""character"": ""Joel Barish"", ""c..."
18,55,"[{""cast_id"": 2, ""character"": ""Octavio"", ""credi..."
19,58,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp..."
20,59,"[{""cast_id"": 2, ""character"": ""Tom Stall"", ""cre..."
21,62,"[{""cast_id"": 6, ""character"": ""Dr. Dave Bowman""..."
22,65,"[{""cast_id"": 3, ""character"": ""Jimmy B. \""Rabbi..."
23,66,"[{""cast_id"": 5, ""character"": ""Luther Whitney"",..."
24,68,"[{""cast_id"": 7, ""character"": ""Sam Lowry"", ""cre..."
25,69,"[{""cast_id"": 2, ""character"": ""Johnny Cash"", ""c..."
26,70,"[{""cast_id"": 4, ""character"": ""Frankie Dunn"", ""..."
27,71,"[{""cast_id"": 16, ""character"": ""Billy Elliot"", ..."
28,73,"[{""cast_id"": 4, ""character"": ""Derek Vinyard"", ..."
29,74,"[{""cast_id"": 13, ""character"": ""Ray Ferrier"", ""..."
...,...,...
4783,378237,[]
4784,379532,"[{""cast_id"": 0, ""character"": ""Duke Williams"", ..."
4785,380097,[]
4786,380733,"[{""cast_id"": 1, ""character"": ""Glinda McGill"", ..."
4787,381902,"[{""cast_id"": 0, ""character"": ""The Monkey King""..."
4788,385383,"[{""cast_id"": 2, ""character"": ""Duke"", ""credit_i..."
4789,385636,"[{""cast_id"": 0, ""character"": ""Tilen"", ""credit_..."
4790,385736,"[{""cast_id"": 2, ""character"": ""Marlon"", ""credit..."
4791,386826,"[{""cast_id"": 7, ""character"": ""Dresden Winters""..."
4792,389425,"[{""cast_id"": 0, ""character"": ""Robert Sikes"", ""..."
4793,394047,"[{""cast_id"": 4, ""character"": ""Sara Gold"", ""cre..."
4794,395766,"[{""cast_id"": 0, ""character"": """", ""credit_id"": ..."
4795,396152,"[{""cast_id"": 3, ""character"": ""Rebecca Jordan"",..."
4796,402515,"[{""cast_id"": 0, ""character"": ""James Erikson"", ..."
4797,407887,"[{""cast_id"": 1, ""character"": ""Jang, Hak-soo (S..."
4798,408429,"[{""cast_id"": 1, ""character"": ""Jimmy"", ""credit_..."
4799,417859,"[{""cast_id"": 3, ""character"": ""Puss in Boots (v..."
4800,426067,"[{""cast_id"": 1, ""character"": ""Dawn"", ""credit_i..."
4801,426469,"[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""..."
4802,433715,"[{""cast_id"": 3, ""character"": ""Amber"", ""credit_..."
4803,447027,[]
4804,459488,"[{""cast_id"": 0, ""character"": ""Narrator"", ""cred..."
4805,"""""credit_id"""": """"586d455492514127c9000400""""","""""id"""": 569144"
4806,"Effects""""","""""id"""": 1798489"
4807,"ake-Up""""","""""id"""": 1463382"
4808,"ay Tearle""""","{""""cast_id"""": 321"
4809,"d"""": 219","""""credit_id"""": """"589cadd19251410898000909"""""
4810,"e Piquemal""""","{""""cast_id"""": 218"
4811,"rtment"""": """"Lighting""""","""""id"""": 1555031"
4812,NaN,"""""name"""": """"Fulton 'Greg' Gilson""""}"

In [36]:
df = df_movies.join(df_credits, lsuffix='id', rsuffix='movie_id')

In [37]:
df

,id,budget,title,release_date,revenue,vote_average,vote_count,movie_id,cast
0,5,4000000,Four Rooms,12/9/1995,4300000,6.5,530,4,"""""name"""": """"George Doering""""}"
1,11,11000000,Star Wars,5/25/1977,775398007,8.1,6624,5,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop..."
2,12,94000000,Finding Nemo,5/30/2003,940335536,7.6,6122,9,"""""name"""": """"Jean Courteau""""}"
3,13,55000000,Forrest Gump,7/6/1994,677945399,8.2,7927,11,"[{""cast_id"": 3, ""character"": ""Luke Skywalker"",..."
4,14,15000000,American Beauty,9/15/1999,356296601,7.9,3313,12,"[{""cast_id"": 8, ""character"": ""Marlin (voice)"",..."
5,16,12800000,Dancer in the Dark,5/17/2000,40031879,7.6,377,13,"[{""cast_id"": 7, ""character"": ""Forrest Gump"", ""..."
6,18,90000000,The Fifth Element,5/7/1997,263920180,7.3,3885,14,"[{""cast_id"": 6, ""character"": ""Lester Burnham"",..."
7,19,92620000,Metropolis,1/10/1927,650422,8.0,657,16,"[{""cast_id"": 33, ""character"": ""Selma Jezkova"",..."
8,20,0,My Life Without Me,3/7/2003,9726954,7.2,77,18,"[{""cast_id"": 5, ""character"": ""Korben Dallas"", ..."
9,22,140000000,Pirates of the Caribbean: The Curse of the Bla...,7/9/2003,655011224,7.5,6985,19,"[{""cast_id"": 10, ""character"": ""Maria"", ""credit..."
10,24,30000000,Kill Bill: Vol. 1,10/10/2003,180949000,7.7,4949,20,"[{""cast_id"": 5, ""character"": ""Ann"", ""credit_id..."
11,25,72000000,Jarhead,11/4/2005,96889998,6.6,765,22,"[{""cast_id"": 12, ""character"": ""Captain Jack Sp..."
12,28,31500000,Apocalypse Now,8/15/1979,89460381,8.0,2055,24,"[{""cast_id"": 3, ""character"": ""Beatrix 'The Bri..."
13,33,14000000,Unforgiven,8/7/1992,159157447,7.7,1113,25,"[{""cast_id"": 1, ""character"": ""Staff Sgt. Sykes..."
14,35,75000000,The Simpsons Movie,7/25/2007,527068851,6.9,2264,28,"[{""cast_id"": 29, ""character"": ""Captain Benjami..."
15,38,20000000,Eternal Sunshine of the Spotless Mind,3/19/2004,72258126,7.9,3652,33,"[{""cast_id"": 4, ""character"": ""Bill Munny"", ""cr..."
16,55,2000000,Amores perros,6/16/2000,20908467,7.6,521,35,"[{""cast_id"": 2, ""character"": ""Homer / Itchy / ..."
17,58,200000000,Pirates of the Caribbean: Dead Man's Chest,6/20/2006,1065659812,7.0,5246,38,"[{""cast_id"": 5, ""character"": ""Joel Barish"", ""c..."
18,59,32000000,A History of Violence,9/23/2005,60740827,6.9,832,55,"[{""cast_id"": 2, ""character"": ""Octavio"", ""credi..."
19,62,10500000,2001: A Space Odyssey,4/10/1968,68700000,7.9,2998,58,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp..."
20,65,41000000,8 Mile,11/8/2002,215000000,6.8,1626,59,"[{""cast_id"": 2, ""character"": ""Tom Stall"", ""cre..."
21,66,50000000,Absolute Power,2/14/1997,50068310,6.4,223,62,"[{""cast_id"": 6, ""character"": ""Dr. Dave Bowman""..."
22,68,15000000,Brazil,2/20/1985,0,7.5,861,65,"[{""cast_id"": 3, ""character"": ""Jimmy B. \""Rabbi..."
23,69,28000000,Walk the Line,9/13/2005,186438883,7.3,718,66,"[{""cast_id"": 5, ""character"": ""Luther Whitney"",..."
24,70,30000000,Million Dollar Baby,12/15/2004,216763646,7.7,2439,68,"[{""cast_id"": 7, ""character"": ""Sam Lowry"", ""cre..."
25,71,5000000,Billy Elliot,5/18/2000,110000000,7.4,750,69,"[{""cast_id"": 2, ""character"": ""Johnny Cash"", ""c..."
26,73,20000000,American History X,10/30/1998,23875127,8.2,3016,70,"[{""cast_id"": 4, ""character"": ""Frankie Dunn"", ""..."
27,74,132000000,War of the Worlds,6/28/2005,591739379,6.2,2322,71,"[{""cast_id"": 16, ""character"": ""Billy Elliot"", ..."
28,75,70000000,Mars Attacks!,12/12/1996,101371017,6.1,1509,73,"[{""cast_id"": 4, ""character"": ""Derek Vinyard"", ..."
29,76,2500000,Before Sunrise,1/27/1995,5535405,7.7,959,74,"[{""cast_id"": 13, ""character"": ""Ray Ferrier"", ""..."
...,...,...,...,...,...,...,...,...,...
4773,373314,11000000,Misconduct,2/5/2016,0,5.3,149,371085,[]
4774,374461,8000000,Mr. Church,9/16/2016,0,7.0,129,371690,"[{""cast_id"": 14, ""character"": ""Kitch"", ""credit..."
4775,375290,4500000,Airlift,1/22/2016,32000000,7.3,57,373314,"[{""cast_id"": 2, ""character"": ""Ben"", ""credit_id..."
4776,375950,0,The Country Doctor,3/23/2016,0,6.0,63,374461,"[{""cast_id"": 6, ""character"": ""Henry Church"", ""..."
4777,376004,750000,Adulterers,1/5/2016,0,5.2,16,375290,"[{""cast_id"": 6, ""character"": ""Ranjit Katyal"", ..."
4778,376010,0,Western Religion,10/9/2015,0,0.0,0,375950,"[{""cast_id"": 1, ""character"": ""Jean-Pierre Wern..."
4779,376659,20000000,Bad Moms,7/28/2016,183936074,6.3,1252,376004,"[{""cast_id"": 1, ""character"": ""Samuel Deuprey"",..."
4780,378200,0,The Perfect Match,3/11/2016,0,5.2,42,376010,"[{""cast_id"": 0, ""character"": ""Chinaman Dan"", ""..."
4781,378237,300000,Amidst the Devil's Wings,12/1/2014,0,0.0,0,376659,"[{""cast_id"": 0, ""character"": ""Amy Mitchell"", ""..."
4782,379532,0,Rodeo Girl,1/5/2016,0,5.5,1,378200,"[{""cast_id"": 4, ""character"": ""Charlie"", ""credi..."
4783,380097,0,America Is Still the Place,NaN,0,0.0,0,378237,[]
4784,380733,0,Fight to the Finish,2/2/2016,0,5.2,3,379532,"[{""cast_id"": 0, ""character"": ""Duke Williams"", ..."
4785,381902,68490000,The Monkey King 2,1/22/2016,193677158,6.0,24,380097,[]
4786,385383,27000000,Fight Valley,7/22/2016,0,3.9,8,380733,"[{""cast_id"": 1, ""character"": ""Glinda McGill"", ..."
4787,385636,0,Juliet and Alfa Romeo,9/17/2015,0,6.0,1,381902,"[{""cast_id"": 0, ""character"": ""The Monkey King""..."
4788,385736,0,Kicks,9/9/2016,0,7.5,18,385383,"[{""cast_id"": 2, ""character"": ""Duke"", ""credit_i..."
4789,386826,0,A Beginner's Guide to Snuff,3/4/2016,0,0.0,0,385636,"[{""cast_id"": 0, ""character"": ""Tilen"", ""credit_..."
4790,389425,8000000,Code of Honor,5/6/2016,0,4.1,16,385736,"[{""cast_id"": 2, ""character"": ""Marlon"", ""credit..."
4791,394047,2000000,The Dog Lover,7/8/2016,0,5.3,6,386826,"[{""cast_id"": 7, ""character"": ""Dresden Winters""..."
4792,395766,0,The Secret,4/29/2016,0,0.0,0,389425,"[{""cast_id"": 0, ""character"": ""Robert Sikes"", ""..."
4793,396152,0,Restoration,5/3/2016,0,5.3,11,394047,"[{""cast_id"": 4, ""character"": ""Sara Gold"", ""cre..."
4794,402515,0,American Beast,10/21/2014,0,0.0,0,395766,"[{""cast_id"": 0, ""character"": """", ""credit_id"": ..."
4795,407887,0,Operation Chromite,7/27/2016,0,5.8,29,396152,"[{""cast_id"": 3, ""character"": ""Rebecca Jordan"",..."
4796,408429,200,Perfect Cowboy,7/13/2014,0,5.0,1,402515,"[{""cast_id"": 0, ""character"": ""James Erikson"", ..."
4797,417859,130000000,Puss in Boots,10/28/2011,554987477,6.4,451,407887,"[{""cast_id"": 1, ""character"": ""Jang, Hak-soo (S..."
4798,426067,0,Midnight Cabaret,1/1/1990,0,0.0,0,408429,"[{""cast_id"": 1, ""character"": ""Jimmy"", ""credit_..."
4799,426469,0,Growing Up Smith,2/3/2017,0,7.4,7,417859,"[{""cast_id"": 3, ""character"": ""Puss in Boots (v..."
4800,433715,0,8 Days,6/15/2014,0,0.0,0,426067,"[{""cast_id"": 1, ""character"": ""Dawn"", ""credit_i..."
4801,447027,0,Running Forever,10/27/2015,0,0.0,0,426469,"[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""..."
4802,459488,2,"To Be Frank, Sinatra at 100",12/12/2015,0,0.0,0,433715,"[{""cast_id"": 3, ""character"": ""Amber"", ""credit_..."